<?xml version='1.0' encoding='utf-8'?>

<!--
  ~ Copyright (c) 2010.
  ~
  ~   This program is free software; you can redistribute it and/or modify
  ~   it under the terms of the GNU General Public License as published by
  ~   the Free Software Foundation; version 2 of the License.
  ~
  ~   This program is distributed in the hope that it will be useful,
  ~   but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~   GNU General Public License for more details.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.btxtech.game.services.history.HistoryElement"/>
        <mapping class="com.btxtech.game.services.connection.ConnectionStatistics"/>
        <mapping class="com.btxtech.game.services.connection.ClientLogEntry"/>
        <mapping class="com.btxtech.game.services.terrain.DbTerrainImagePosition"/>
        <mapping class="com.btxtech.game.services.terrain.DbSurfaceRect"/>
        <mapping class="com.btxtech.game.services.terrain.DbTerrainImage"/>
        <mapping class="com.btxtech.game.services.terrain.TerrainImageTileSurfaceType"/>
        <mapping class="com.btxtech.game.services.terrain.DbSurfaceImage"/>
        <mapping class="com.btxtech.game.services.terrain.DbTerrainSetting"/>
        <mapping class="com.btxtech.game.services.user.User"/>
        <mapping class="com.btxtech.game.services.user.Arq"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.BackupEntry"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.GenericBaseItem"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.GenericResourceItem"/>
        <mapping class="com.btxtech.game.services.base.Base"/>
        <mapping class="com.btxtech.game.services.base.BaseColor"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.SavedQuery"/>
        <mapping class="com.btxtech.game.services.mgmt.StartupData"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbResourceItemType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbBaseItemType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbBuilderType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbFactoryType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbHarvesterType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbMovableType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbTurnableType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbWeaponType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbItemTypeImage"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbConsumerType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbGeneratorType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbSpecialType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbItemTypeData"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbItemContainerType"/>
        <mapping class="com.btxtech.game.services.market.MarketEntry"/>
        <mapping class="com.btxtech.game.services.market.impl.UserItemTypeAccess"/>
        <mapping class="com.btxtech.game.services.market.XpSettings"/>
        <mapping class="com.btxtech.game.services.market.MarketCategory"/>
        <mapping class="com.btxtech.game.services.market.MarketFunction"/>
        <mapping class="com.btxtech.game.services.utg.PageAccess"/>
        <mapping class="com.btxtech.game.services.utg.BrowserDetails"/>
        <mapping class="com.btxtech.game.services.utg.GameStartup"/>
        <mapping class="com.btxtech.game.services.utg.DbUserAction"/>
        <mapping class="com.btxtech.game.services.utg.DbMissionAction"/>
        <mapping class="com.btxtech.game.services.utg.UserCommand"/>
        <mapping class="com.btxtech.game.services.utg.UserHistory"/>
        <mapping class="com.btxtech.game.services.utg.DbUserMessage"/>
        <mapping class="com.btxtech.game.services.utg.DbLevel"/>
        <mapping class="com.btxtech.game.services.utg.DbItemCount"/>
        <mapping class="com.btxtech.game.services.utg.DbLevelPromotion"/>
        <mapping class="com.btxtech.game.services.utg.BaseLevelStatus"/>
        <mapping class="com.btxtech.game.services.forum.AbstractForumEntry"/>
        <mapping class="com.btxtech.game.services.forum.SubForum"/>
        <mapping class="com.btxtech.game.services.forum.Category"/>
        <mapping class="com.btxtech.game.services.forum.ForumThread"/>
        <mapping class="com.btxtech.game.services.forum.Post"/>
        <mapping class="com.btxtech.game.services.messenger.Mail"/>
        <mapping class="com.btxtech.game.services.resource.DbRegionResource"/>
        <mapping class="com.btxtech.game.services.bot.DbBotConfig"/>
        <mapping class="com.btxtech.game.services.territory.DbTerritory"/>
        <mapping class="com.btxtech.game.services.territory.DbTerritoryRegion"/>
        <mapping class="com.btxtech.game.services.cms.DbCmsHomeText"/>
        <mapping class="com.btxtech.game.services.cms.DbCmsHomeLayout"/>
        <mapping class="com.btxtech.game.services.tutorial.DbTutorialConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.DbTaskConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.DbItemTypeAndPosition"/>
        <mapping class="com.btxtech.game.services.tutorial.DbStepConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.condition.DbHarvestConditionConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.condition.DbItemBuiltConditionConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.condition.DbItemsKilledConditionConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.condition.DbItemsPositionReachedConditionConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.condition.DbSelectionConditionConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.condition.DbSendCommandConditionConfig"/>

    </session-factory>
</hibernate-configuration>