<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010.
  ~
  ~   This program is free software; you can redistribute it and/or modify
  ~   it under the terms of the GNU General Public License as published by
  ~   the Free Software Foundation; version 2 of the License.
  ~
  ~   This program is distributed in the hope that it will be useful,
  ~   but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~   GNU General Public License for more details.
  -->

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Strategy Game</display-name>
    <description>Game</description>

    <!-- Spring integration -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
            /WEB-INF/applicationContext-security.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <!-- GWT Spring integration -->
    <servlet>
        <servlet-name>gwtrpc-spring-dispatcher</servlet-name>
        <servlet-class>
            org.gwtrpcspring.RemoteServiceDispatcher
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gwtrpc-spring-dispatcher</servlet-name>
        <url-pattern>/mapeditor/gwtrpc/*</url-pattern>
        <url-pattern>/game/gwtrpc/*</url-pattern>
        <url-pattern>/pathfinding/gwtrpc/*</url-pattern>
        <url-pattern>/mapview/gwtrpc/*</url-pattern>
        <url-pattern>/playback/gwtrpc/*</url-pattern>
        <url-pattern>/itemtypeeditor/gwtrpc/*</url-pattern>
    </servlet-mapping>

    <!-- Spring controller integration -->
    <servlet>
        <servlet-name>spring-controller</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-controller</servlet-name>
        <url-pattern>/spring/*</url-pattern>
    </servlet-mapping>

    <!-- GWT Logging -->
    <servlet>
        <servlet-name>gameRemoteLogging</servlet-name>
        <servlet-class>com.btxtech.game.services.gwt.ExtendedRemoteLoggingServiceImpl</servlet-class>
        <init-param>
            <param-name>symbolMapsDirectory</param-name>
            <param-value>WEB-INF/deploy/game/symbolMaps</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>gameRemoteLogging</servlet-name>
        <url-pattern>/game/remote_logging</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>itemTypeEditorRemoteLogging</servlet-name>
        <servlet-class>com.btxtech.game.services.gwt.ExtendedRemoteLoggingServiceImpl</servlet-class>
        <init-param>
            <param-name>symbolMapsDirectory</param-name>
            <param-value>WEB-INF/deploy/itemtypeeditor/symbolMaps</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>itemTypeEditorRemoteLogging</servlet-name>
        <url-pattern>/itemtypeeditor/remote_logging</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>playbackRemoteLogging</servlet-name>
        <servlet-class>com.btxtech.game.services.gwt.ExtendedRemoteLoggingServiceImpl</servlet-class>
        <init-param>
            <param-name>symbolMapsDirectory</param-name>
            <param-value>WEB-INF/deploy/playback/symbolMaps</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>playbackRemoteLogging</servlet-name>
        <url-pattern>/playback/remote_logging</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>spring-security</filter-name>
        <filter-class>org.springframework.security.web.context.SecurityContextPersistenceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>spring-security</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Spring hibernate session -->
    <filter>
        <filter-name>openSessionInViewFilter</filter-name>
        <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
        <init-param>
            <param-name>flushMode</param-name>
            <param-value>AUTO</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>openSessionInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Wicket -->
    <filter>
        <filter-name>wicket</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationFactoryClassName</param-name>
            <param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>wicket</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
