body {
    color: white;
    background: black;
    font-size: 100.01%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 1em;
}

div#StartBg {
    margin: auto;
    padding: 100px 0 0 0;
    width: 800px;
    height: 600px;
    background: url(images/home/erdball.jpg) center no-repeat;

}

div#StartContent {
    padding: 100px 0 0 0;
    margin: 00px 100px 0 100px;
    min-width: 16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
}

div#Logon {
    margin: 60px auto;
    width: 25em;
}

a.account {
    text-decoration: none;
    color:white;
}

a.account:hover {
    text-decoration: none;
    color:red;
}

a.account:active, a.account:visited  {
    text-decoration: none;
    color:white;
}
