html {
    height: 100%;
}

body {
    margin: 0;
	height: 100%;
    background: url(images/bg.jpg) center no-repeat;
}

#container {
    display:table;
	height: 100%;
    width: 100%;
}

#cell {
    display:table-cell;
    vertical-align: middle;
}

#content {
    width: 741px ;
    height: 672px;
	margin: 0 auto;
    background: url(images/border.png) center no-repeat;
	position:relative;
}

#login {
    left: 400px;
    top: 13px;
    position:absolute;
}

#text {
    left: 139px;
  	top: 576px;
	width: 489px;
	height: 52px;
    position:absolute;
	color: #ffa100;
}

#play_btn {
    top: 190px;
  	left: 19px;
    position:absolute;
}

#register_btn {
    top: 42px;
  	left: 42px;
    position:absolute;
}

#info_btn {
    top: 462px;
  	left: 72px;
    position:absolute;
}
