html {
    height: 100%;
}

body {
    margin: 0;
	height: 100%;
    background: url(images/metal.jpg);
}

#container {
    display:table;
	height: 100%;
    width: 100%;
}

#cell {
    display:table-cell;
    vertical-align: middle;
}

#content {
    width: 1920px ;
    height: 600px;
	margin: auto;
    background: url(images/bg.jpg) center no-repeat;
	position:relative;
}

#login {
    left: 820px;
    top: 535px;
    position:absolute;
}

#text {
    left: 810px;
    top: 475px;
    width: 290px;
    height: 52px;
    position: absolute;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
    color: #C2D7EC;
}

#play_btn {
    top: 182px;
  	left: 869px;
    position:absolute;
}

#register_btn {
    top: 42px;
  	left: 42px;
    position:absolute;
}

#info_btn {
    top: 462px;
  	left: 72px;
    position:absolute;
}
