<?xml version='1.0' encoding='utf-8'?>

<!--
  ~ Copyright (c) 2010.
  ~
  ~   This program is free software; you can redistribute it and/or modify
  ~   it under the terms of the GNU General Public License as published by
  ~   the Free Software Foundation; version 2 of the License.
  ~
  ~   This program is distributed in the hope that it will be useful,
  ~   but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~   GNU General Public License for more details.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.btxtech.game.services.history.DbHistoryElement"/>
        <mapping class="com.btxtech.game.services.connection.ConnectionStatistics"/>
        <mapping class="com.btxtech.game.services.connection.ClientLogEntry"/>
        <mapping class="com.btxtech.game.services.terrain.DbTerrainImagePosition"/>
        <mapping class="com.btxtech.game.services.terrain.DbSurfaceRect"/>
        <mapping class="com.btxtech.game.services.terrain.DbTerrainImage"/>
        <mapping class="com.btxtech.game.services.terrain.TerrainImageTileSurfaceType"/>
        <mapping class="com.btxtech.game.services.terrain.DbSurfaceImage"/>
        <mapping class="com.btxtech.game.services.terrain.DbTerrainSetting"/>
        <mapping class="com.btxtech.game.services.user.User"/>
        <mapping class="com.btxtech.game.services.user.DbContentAccessControl"/>
        <mapping class="com.btxtech.game.services.user.DbPageAccessControl"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.SavedQuery"/>
        <mapping class="com.btxtech.game.services.mgmt.StartupData"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbResourceItemType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbProjectileItemType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbBaseItemType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbBuilderType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbFactoryType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbHarvesterType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbMovableType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbTurnableType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbWeaponType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbItemTypeImage"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbConsumerType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbGeneratorType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbSpecialType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbItemTypeData"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbItemContainerType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbHouseType"/>
        <mapping class="com.btxtech.game.services.item.itemType.DbLauncherType"/>
        <mapping class="com.btxtech.game.services.market.DbMarketEntry"/>
        <mapping class="com.btxtech.game.services.market.XpSettings"/>
        <mapping class="com.btxtech.game.services.market.DbMarketCategory"/>
        <mapping class="com.btxtech.game.services.market.DbMarketFunction"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbPageAccess"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbSessionDetail"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbStartupTask"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbUserCommand"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbUserHistory"/>
        <mapping class="com.btxtech.game.services.utg.DbUserMessage"/>
        <mapping class="com.btxtech.game.services.utg.DbSimulationLevel"/>
        <mapping class="com.btxtech.game.services.utg.DbRealGameLevel"/>
        <mapping class="com.btxtech.game.services.utg.DbResurrection"/>
        <mapping class="com.btxtech.game.services.utg.DbItemTypeLimitation"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbTutorialProgress"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbEventTrackingStart"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbEventTrackingItem"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbBrowserWindowTracking"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbStartup"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbCommand"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbSelectionTrackingItem"/>
        <mapping class="com.btxtech.game.services.utg.tracker.DbScrollTrackingItem"/>
        <mapping class="com.btxtech.game.services.utg.condition.DbComparisonItemCount"/>
        <mapping class="com.btxtech.game.services.utg.condition.DbConditionConfig"/>
        <mapping class="com.btxtech.game.services.utg.condition.DbCountComparisonConfig"/>
        <mapping class="com.btxtech.game.services.utg.condition.DbSyncItemTypeComparisonConfig"/>
        <mapping class="com.btxtech.game.services.utg.condition.DbSyncItemIdComparisonConfig"/>
        <mapping class="com.btxtech.game.services.utg.condition.DbCockpitButtonClickedComparisonConfig"/>
        <mapping class="com.btxtech.game.services.utg.condition.DbSyncItemIdPositionComparisonConfig"/>
        <mapping class="com.btxtech.game.services.utg.condition.DbContainedInComparisonConfig"/>
        <mapping class="com.btxtech.game.services.utg.condition.DbItemTypePositionComparisonConfig"/>
        <mapping class="com.btxtech.game.services.forum.DbSubForum"/>
        <mapping class="com.btxtech.game.services.forum.DbCategory"/>
        <mapping class="com.btxtech.game.services.forum.DbForumThread"/>
        <mapping class="com.btxtech.game.services.forum.DbPost"/>
        <mapping class="com.btxtech.game.services.messenger.DbMail"/>
        <mapping class="com.btxtech.game.services.resource.DbRegionResource"/>
        <mapping class="com.btxtech.game.services.bot.DbBotConfig"/>
        <mapping class="com.btxtech.game.services.bot.DbBotItemCount"/>
        <mapping class="com.btxtech.game.services.territory.DbTerritory"/>
        <mapping class="com.btxtech.game.services.territory.DbTerritoryRegion"/>
        <mapping class="com.btxtech.game.services.tutorial.DbTutorialConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.DbTaskConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.DbTaskAllowedItem"/>
        <mapping class="com.btxtech.game.services.tutorial.DbItemTypeAndPosition"/>
        <mapping class="com.btxtech.game.services.tutorial.DbStepConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.hint.DbItemSpeechBubbleHintConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.hint.DbItemTypeSpeechBubbleHintConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.hint.DbResourceHintConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.hint.DbTerrainPositionSpeechBubbleHintConfig"/>
        <mapping class="com.btxtech.game.services.tutorial.hint.DbCockpitSpeechBubbleHintConfig"/>
        <!-- Backup -->
        <mapping class="com.btxtech.game.services.mgmt.impl.BackupEntry"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.GenericBaseItem"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.GenericResourceItem"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.GenericProjectileItem"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.DbUserItemTypeAccess"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.DbUserState"/>
        <mapping class="com.btxtech.game.services.mgmt.impl.DbBase"/>
        <mapping class="com.btxtech.game.services.utg.condition.backup.DbCountComparisonBackup"/>
        <mapping class="com.btxtech.game.services.utg.condition.backup.DbSyncItemIdComparisonBackup"/>
        <mapping class="com.btxtech.game.services.utg.condition.backup.DbSyncItemTypeComparisonBackup"/>
        <!-- CMS -->
        <mapping class="com.btxtech.game.services.cms.DbCmsHomeText"/>
        <mapping class="com.btxtech.game.services.cms.DbCmsHomeLayout"/>
        <mapping class="com.btxtech.game.services.cms.DbCmsImage"/>
        <mapping class="com.btxtech.game.services.cms.DbMenu"/>
        <mapping class="com.btxtech.game.services.cms.DbMenuItem"/>
        <mapping class="com.btxtech.game.services.cms.DbPage"/>
        <mapping class="com.btxtech.game.services.cms.DbPageStyle"/>
        <mapping class="com.btxtech.game.services.cms.DbContentList"/>
        <mapping class="com.btxtech.game.services.cms.DbContentContainer"/>
        <mapping class="com.btxtech.game.services.cms.DbExpressionProperty"/>
        <mapping class="com.btxtech.game.services.cms.DbContentDetailLink"/>
        <mapping class="com.btxtech.game.services.cms.DbContentBook"/>
        <mapping class="com.btxtech.game.services.cms.DbContentRow"/>
        <mapping class="com.btxtech.game.services.cms.DbContentStaticHtml"/>
        <mapping class="com.btxtech.game.services.cms.DbContentPageLink"/>
        <mapping class="com.btxtech.game.services.cms.DbContentLink"/>
        <mapping class="com.btxtech.game.services.cms.DbContentPlugin"/>
        <mapping class="com.btxtech.game.services.cms.DbContentDynamicHtml"/>
        <mapping class="com.btxtech.game.services.cms.DbContentActionButton"/>
        <mapping class="com.btxtech.game.services.cms.DbContentCreateEdit"/>
        <mapping class="com.btxtech.game.services.cms.DbContentSmartPageLink"/>
        <mapping class="com.btxtech.game.services.cms.DbContentBooleanExpressionImage"/>
        <mapping class="com.btxtech.game.services.cms.DbContentInvoker"/>
        <mapping class="com.btxtech.game.services.cms.DbContentInvokerButton"/>
        <mapping class="com.btxtech.game.services.cms.DbAds"/>
        <!-- Content -->
        <mapping class="com.btxtech.game.services.cms.DbBlogEntry"/>
        <mapping class="com.btxtech.game.services.cms.DbWikiSection"/>
        <mapping class="com.btxtech.game.services.cms.DbHtmlContent"/>

    </session-factory>
</hibernate-configuration>