<html>
<body>
<h3>Hallo ${user},</h3>

<div>
    Vielen Dank f&uuml;r die Registrierung bei Razarion. Bitte best&auml;tige deine E-Mail-Adresse, indem du auf den folgenden
    Link klickst:<br>
    <a href="${link}">${link}</a>
    <br>
    <br>
    Benutzername: ${user}
    <br>
    <br>
    Wir freuen uns darauf, dich bei Razarion begr&uuml;&szlig;en zu d&uuml;rfen!
    <br>
    <br>
    Dein Razarion-Team
</div>
</body>
</html>